# Adtracking Fraud Detection

by Kyle O'Brien, Catherine Lee, Amit Saxena

Data is in "data/" and includes the training and testing csv files.
Evaluation metrics will include looking at R^2 and a confusion matrix. Other things to try, CNN (Resnet, inceptionv3)

In [1]:
import numpy as np         # linear algebra
import sklearn as sk       # machine learning
import pandas as pd        # reading in data files, data cleaning
import matplotlib.pyplot as plt   # for plotting
import seaborn as sns      # visualization tool
import tensorflow as tf

Train_sample: 100,000 randomly-selected rows of training data (because the full training data takes too long)

In [3]:
#load data in 

data = pd.read_csv("data/train_sample.csv")

data.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
ip                 100000 non-null int64
app                100000 non-null int64
device             100000 non-null int64
os                 100000 non-null int64
channel            100000 non-null int64
click_time         100000 non-null object
attributed_time    227 non-null object
is_attributed      100000 non-null int64
dtypes: int64(6), object(2)
memory usage: 6.1+ MB

# Testing with Logistic Regression

In [6]:
X = data[['app', 'device', 'os', 'channel', 'click_time', 'attributed_time']]
y = data['is_attributed']

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)

In [9]:
X_train.head()

       app  device  os  channel           click_time attributed_time
10382    1       1  19      371  2017-11-08 02:56:09             NaN
73171   12       1  17      328  2017-11-07 14:10:52             NaN
30938    3       1  41      137  2017-11-08 13:30:12             NaN
99310   27       1  13      122  2017-11-08 00:37:32             NaN
58959    2       1  13      219  2017-11-07 09:22:44             NaN

In [11]:
from sklearn import linear_model
reg =  linear_model.LogisticRegression

In [ ]:
reg.fit(X_train, y_train)

In [ ]:
print("accuracy = " , reg.score(X_test,y_test))